<!DOCTYPE html>
<html>
  <head>
    <title>Facelook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
    <div class ="header-logo"><%= link_to("Facelook","/") %></div>
    <ul class ="header-menus">
      <li>ユーザーネーム</li>
      <li><%= link_to("つぶやく","/blogs/new") %></li>
      <li><%= link_to("投稿一覧","/blogs") %></li>
      <li>Log in</li>
      <li>log out</li>
      <li><%= link_to("へるぷ","/homes/help") %></li>
    </ul>
  </header>
    <%= yield %>
  </body>
</html>